@import "tailwindcss";
@plugin "daisyui";

.container {
    max-width: 1200px !important;
    width: 90% !important;
    margin: auto !important;
}

/* Hero Slider CSS */
.slide-content {
    height: 50vh;
    position: relative;
}

.slide-bg {
    height: 100%;
    position: relative;
}

.slide-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    z-index: 1;
}

.slide-content-inner {
    z-index: 2;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 770px;
    width: 90%;

}

.slide-content-inner h2 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: 700;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.slide-content-inner p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.slide-page-button .btn {
    margin: 0 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}
/* Services Grid */
.single-service {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 20px;
}
.service-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}