@import "tailwindcss";
@plugin "daisyui";

.container {
    max-width: 1200px !important;
    width: 90% !important;
    margin: auto !important;
}

/* Hero Slider CSS */
.slide-content {
    height: calc(100vh - 72px);
}