@import "tailwindcss";
@plugin "daisyui";

.container {
    max-width: 1200px !important;
    width: 90% !important;
    margin: auto !important;
}

/* Hero Slider CSS */
.slide-content {
    height: calc(100vh - 72px);
    position: relative;
}

.slide-bg {
    height: 100%;
    position: relative;
}

.slide-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.slide-content-inner {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    
}